<div id="license-outer">
  <div id="license-div">
    <h2>License information:</h2>

    <p>This app uses data from the sources mentioned below.</p>
    <p><b>The licensors do not endorse me or this app.</b></p>

    <p>
      The csv datasets concerning Helsinki City Bicycle Journeys are owned by
      City Bike Finland. The Origin–Destination (OD) datasets consist of
      journeys made by city bikes in Helsinki and Espoo.
    </p>

    <p>
      Source url for Helsinki City Bicycle Journey Origin-Destination datasets:
    </p>
    <a href="https://www.hsl.fi/en/hsl/open-data">
      https://www.hsl.fi/en/hsl/open-data
    </a>

    <p>The Bicycle Journey csv files used in the app are from here:</p>
    <a href="https://dev.hsl.fi/citybikes/od-trips-2021/2021-05.csv">
      https://dev.hsl.fi/citybikes/od-trips-2021/2021-05.csv
    </a>
    <a href="https://dev.hsl.fi/citybikes/od-trips-2021/2021-06.csv">
      https://dev.hsl.fi/citybikes/od-trips-2021/2021-06.csv
    </a>
    <a href="https://dev.hsl.fi/citybikes/od-trips-2021/2021-07.csv">
      https://dev.hsl.fi/citybikes/od-trips-2021/2021-07.csv
    </a>

    <p><b>License</b></p>
    <a href="https://creativecommons.org/licenses/by/4.0/">
      Creative Commons Attribution 4.0
    </a>
    <br/>
    <p>
      The Helsinki Region Transport's city bicycle stations<br/>
      (Helsingin Seudun Liikenteen (HSL) kaupunkipyöräasemat)<br/>
      are located in the cities of Helsinki and Espoo.
    </p>

    <p>Source url for Helsinki Region Transport's city bicycle stations:</p>
    <a href="https://www.avoindata.fi/data/en_GB/dataset/hsl-n-kaupunkipyoraasemat/resource/a23eef3a-cc40-4608-8aa2-c730d17e8902">
      https://www.avoindata.fi/data/en_GB/dataset/hsl-n-kaupunkipyoraasemat/resource/a23eef3a-cc40-4608-8aa2-c730d17e8902
    </a>

    <p>The dataset which has those stations is open data and is from here:</p>
    <a href="https://opendata.arcgis.com/datasets/726277c507ef4914b0aec3cbcfcbfafc_0.csv">
      https://opendata.arcgis.com/datasets/726277c507ef4914b0aec3cbcfcbfafc_0.csv
    </a>

    <p><b>License</b></p>
    <a href="https://creativecommons.org/licenses/by/4.0/">
      Creative Commons Attribution 4.0
    </a>

    <h3>About modifications:</h3>
    <p id="modifications">
      None of these 4 csv datasets have been modified in this app.<br/>
      During import into database the station names are abbreviated so that<br/>
      the rest of the name after a possible comma is removed for a cleaner look.
      </p>
  </div>
</div>